/* alle sider */
html {
	height: 100%;
}

body {
	background-color: #74c1ca;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
 	min-height: 100%;
    margin: 0;
    padding: 0;
}

footer.page-footer {
	background-color: #424242;
	background-size: cover;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
}

/* Alle sider slut */
/* Index - Side - START */
/* Index/Produkt - Basic START */

h1.header.center {
	color: white;
	padding-bottom: 20px;
	text-shadow: 2px 4px 3px rgba(0,0,0,.9);
}

h5.header {
	color: white;
}

/* Index/Produkt - Basic SLUT */
/* Index - Nav START */

nav {
	background-color: White;
	box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.8)
}

.nav-wrapper {
	margin-left: 10px;
	margin-right: 10px;
}

.nav-wrapper a {
	color: black;
	font-size: 16px;
}

.brand-logo {
	z-index: 1;
}

/* Index - Nav SLUT */
/*Index - Banner START */
#index-banner {
	background-image: url(Dentist.JPG);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	box-shadow: 0px 0px 7px rgba(0,0,0,.9);
	padding-top: 60px;
	background-size: cover;
}

#index-banner h5 {
	text-shadow: 2px 4px 3px rgba(0,0,0,.9);
}

.btn {
    line-height: 40px;
    margin: 7.5px;
    background-color: #269ac9;
}

.btn:hover {
	background-color: #2BACE0;
}
/*Index - Banner SLUT */
/* Index - Containers med tekst START */
#index-info {
	background-color: white;
	padding: 0px 140px;
	width: 100%;
	box-shadow: 0px 7px 20px 0px rgba(51, 51, 51, 0.4);
	max-width: 100%;
}

/* Index - Containers kun med tekst SLUT */
/* Index - Containers med billede/tekst START */
#index-pic {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	width: 100%;
}

.mirror {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mirror-text {
	width: 30%;
}

.mirror-image {
	width: 70%;
	padding: 4em;
}

#section-mirror {
	padding: 0%;
}
/* Index - Containers med billede/tekst SLUT */
/*Index - Side - SLUT */
/*Produkt - Side - START */
/*Produkt - nav - START */
.Produkt-nav {
	margin-bottom: 70px;
}
/*Produkt - nav - SLUT */

/*Produkt - Pakker - START */

#Pakke-box-1 {
	display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
    margin-top: 70px;
}

#Box-1 {
	margin-left: 180px;
	background-color: white;
}

#Box-2 {
	margin-left: 10px;
	background-color: white;
}

#Box-3 {
	margin-left: 10px;
	background-color: white;
}

#Box-4 {
	margin-left: 180px;
	margin-top: 10px;
	background-color: white;
}

#Box-5 {
	margin-left: 10px;
	background-color: white;
	margin-top: 10px;
}

#Box-6 {
	margin-left: 10px;
	background-color: white;
	margin-top: 10px;
}

.Pakke-image {
	width: 100%;
    margin-bottom: 5px;
    padding: 0;
    margin-top: 10px;
}

/*#Box-1:not(.browser-default) {
	margin: 0;
	margin-top: 10px;
}

#Box-2:not(.browser-default) {
	margin: 0;
	margin-top: 10px;
}

#Box-3:not(.browser-default) {
	margin: 0;
	margin-top: 10px;
}

#Box-4:not(.browser-default) {
	margin: 0;
	margin-top: 10px;
}

#Box-5:not(.browser-default) {
	margin: 0;
	margin-top: 10px;
}

#Box-6:not(.browser-default) {
	margin: 0;
	margin-top: 10px;
}*/

#submit-btn {
	margin-left: 180px;
}

/*Produkt - Pakker - SLUT */
#test {
	margin-left: 8em;
}