html {
	height: 100%;
}

body {
	background-color: #74c1ca;
	background-size: cover;
	-webkit-background-size: cover;
  	moz-background-size: cover;
 	-o-background-size: cover;
 	min-height: 100%;
    margin: 0;
    padding: 0;
}

h1.header.center {
	color: white;
	padding-bottom: 20px;
}

h5.header {
	color: white;
}

footer.page-footer {
	background-color: #424242;
	background-size: cover;
	-webkit-background-size: cover;
  	moz-background-size: cover;
 	-o-background-size: cover;
}

nav {
	background-color: White;
	box-shadow: 0px 0px 20px 0px rgba(51, 51, 51, 0.8)
}

.nav-wrapper {
	margin-left: 10px;
	margin-right: 10px;
}

.nav-wrapper a {
	color: black;
	font-size: 16px;
}

#index-info {
	background-color: white;
	padding: 0px 140px;
	width: 100%;
	box-shadow: 0px 7px 20px 0px rgba(51, 51, 51, 0.4);
	max-width: 100%;
}

#index-pic {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	width: 100%;
}

.mirror {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mirror-text {
	width: 30%;
	padding: 1em;
}

.mirror-image {
	width: 70%;
	padding: 4em;
}

#Produkt-info .mirror-image {
	width: 100%;
    margin-bottom: 5px;
    padding: 0;
    margin-top: 10px;
}

.btn {
    line-height: 40px;
    margin: 7.5px;
    background-color: #269ac9;
}

.btn:hover {
	background-color: #2BACE0;
}

h2.Overskrift{
	text-align: center;
}

#Produkt-info {
	display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
    margin-top: 70px;
}

#box-1 {
	margin-left: 180px;
	background-color: white;
}

#box-2 {
	margin-left: 10px;
	background-color: white;
}

#box-3 {
	margin-left: 10px;
	background-color: white;
}